.scrollableContainer {
  overflow-y: auto;
  contain: layout paint;
}

.filler {
  position: relative;
  width: 0;
  visibility: hidden;
}

.scrollHeightFiller {
  min-height: 100%;
  float: left;
}

.contentLayer {
  --scroll-top-limit: 700px;
  --scroll-bottom-limit: 700px;
  position: sticky;
  top: calc(var(--scroll-top-limit) * -1);
  bottom: var(--scroll-bottom-limit);
  height: 0px;
  contain: layout;
}