html {
  font-size: 14px;
} 
 
 .post pre,
 code[class*='language-'],
 div[class*='language-'] {
   background: none;
   color: rgb(239, 239, 239);
   color: rgb(169 189 185);
   color: rgb(189 204 201);
   font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
   font-size: 1rem;
   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
   line-height: 1.5;
   -moz-tab-size: 8;
   -o-tab-size: 8;
   tab-size: 8;
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
 }
 
 /* Code blocks */
 .post pre,
 div[class*='language-'] {
   border-left: 2rem solid rgb(0 31 49);
/*    margin: 2.25rem 0; */
   overflow: auto;
/*    padding: 2rem; */
  padding-left: 2rem;
 }

 figure div[class*='language-'] {
  margin: 0;
 }

 figure div[class*='language-'] + figcaption {
  margin-top: 0;
 }

 h3 + pre[class*="language-"] {
  margin-top: 0;
 }

 p + pre[class*="language-"] {
  margin-top: 0;
 }
 
 h4 + div[class*='language-'] {
   margin-top: 1rem;
 }
 
 pre[class*='language-css'] {
   border-left-color: rgb(128, 210, 219);
 }
 
 .post pre,
 :not(pre) > code[class*='language-'],
 div[class*='language-'],
 div[class*='language-'],
 virtualized-list {
   background: rgb(21, 58, 81);
   background-color: #0d121c;
 }
 
 /* Inline code */
 :not(pre) > code[class*='language-'] {
   padding: 0.1em;
   border-radius: 0.3em;
   white-space: normal;
 }

 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
   color: #d4d0ab;
   color: #707e99;
 }
 
 .token.punctuation {
   color: rgb(239, 239, 239);
   color: #81A1C1;
 }
 
 .token.property,
 .token.tag,
 .token.constant,
 .token.symbol,
 .token.deleted,
 .token.class-name {
   color: #8FBCBB;
 }
 
 .token.boolean,
 .token.number {
   color: #B48EAD;
 }
 
 .token.selector,
 .token.attr-name,
 .token.string,
 .token.char,
 .token.builtin,
 .token.inserted {
   color: #A3BE8C;
 }
 
 .token.operator,
 .token.entity,
 .token.url,
 .language-css .token.string,
 .style .token.string,
 .token.variable {
   color: #81A1C1;
 }
 
 .token.atrule,
 .token.attr-value,
 .token.function {
   color: #88C0D0;
 }
 
 .token.keyword {
   color: #81A1C1;
 }
 
 .token.regex,
 .token.important {
   color: #ffd700;
 }
 
 .token.important,
 .token.bold {
   font-weight: bold;
 }
 .token.italic {
   font-style: italic;
 }
 
 .token.entity {
   cursor: help;
 }
 
 @media screen and (-ms-high-contrast: active) {
   code[class*='language-'],
   div[class*='language-'] {
     color: windowText;
     background: window;
   }
 
   :not(pre) > code[class*='language-'],
   div[class*='language-'] {
     background: window;
   }
 
   .token.important {
     background: highlight;
     color: window;
     font-weight: normal;
   }
 
   .token.atrule,
   .token.attr-value,
   .token.function,
   .token.keyword,
   .token.operator,
   .token.selector {
     font-weight: bold;
   }
 
   .token.attr-value,
   .token.comment,
   .token.doctype,
   .token.function,
   .token.keyword,
   .token.operator,
   .token.property,
   .token.string {
     color: highlight;
   }
 
   .token.attr-value,
   .token.url {
     font-weight: normal;
   }
 }

 div[data-line]::before {
  content: attr(data-line);
  position: absolute;
  left: 0;
  width: 5ch;
  text-align: center;
  color: #81A1C1;
  background: rgb(0 31 49);
 }