.class__ScrollableContainer,
.class__FlexItemsMeasurer,
.class__ScrollHeight,
.class__Filler,
.class__ScrolledPane {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.class__Filler {
  display: block;
  position: relative;
  visibility: hidden;
  z-index: -1;
  will-change: height;
}

.Filler__ScrollHeight {
  display: block;
  position: relative;
  width: 0;
  min-height: 100%;
  z-index: -1;
  float: left;
}

.class__ScrollableContainer {
  display: block;
  position: relative;
  overflow: auto;
  contain: layout paint;
  will-change: scroll-position;
}

.class__StickyContainer {
  display: block;
  --scroll-limit: 700px;
  position: sticky;
  top: calc(var(--scroll-limit) * -1);
  bottom: 0px;
  height: 0px;
  will-change: top;
}

.class__ScrolledPane {
  display: block;
  position: relative;
  overflow: visible;
  transform: translateY(-100%);
  contain: layout; /* isolate layout recalculation */
  will-change: contents;
}

.class__ScrolledPane > * {
  box-sizing: border-box;
}

.class__ScrolledPaneBuffer,
.class__FlexItemsMeasurer {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden; /* must not contribute to the parent's scroll height */
}

.class__ScrolledPaneBuffer {
  top: 0;
  transform: none;
  z-index: -1;
}

.ScrolledPaneBuffer__Marker {
  display: block !important;
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
  grid-column: 1 / -1 !important;
}