.class__ScrollableContainer,
.class__ScrollHeight,
.class__Filler,
.class__ScrolledPane {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.class__Filler {
  position: relative;
  visibility: hidden;
  z-index: -1;
}

.Filler__ScrollHeight {
  position: relative;
  width: 0;
  min-height: 100%;
  z-index: -1;
  float: left;
}

.class__ScrollableContainer {
  position: relative;
  overflow: auto;
}

.class__StickyContainer {
  --scroll-limit: 700px;
  position: sticky;
  top: calc(var(--scroll-limit) * -1);
  bottom: 0px;
  height: 0px;
}

.class__ScrolledPane {
  position: relative;
  overflow: visible;
  transform: translateY(-100%);
}

.class__ScrolledPane.class__ScrolledPaneBuffer {
  position: absolute;
  width: 100%;
  top: 0;
  visibility: hidden;
  overflow: hidden; /* must not contribute to the parent's scroll height */
  transform: none;
  z-index: -1;
}

.ScrolledPaneBuffer__Marker {
  position: relative;
  width: 100%;
  height: 100%;
  grid-column: 1 / -1;
}