.class__ScrollableContainer,
.class__ScrollHeight,
.class__Filler,
.class__ScrolledPane {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.class__ScrollHeight {
  position: relative;
  width: 0;
  min-height: 100%;
  z-index: -1;
  float: left;
}

.class__Filler {
  position: relative;
  z-index: -1;
}

.class__ScrollableContainer {
  position: relative;
  overflow: auto;
}

.class__ScrolledPane {
  --scroll-limit: 700px;

  position: sticky;
  top: calc(var(--scroll-limit) * -1);
  bottom: 0px;
  min-height: 100%;
  height: 100%;
  overflow: visible;
}

.class__ScrolledPane.class__ScrolledPaneBuffer {
  position: absolute;
  width: 100%;
  top: 0;
  visibility: hidden;
  z-index: -1;
}

.ScrolledPaneBuffer__Marker {
  position: relative;
  width: 100%;
  grid-column: 1 / -1;
}