.class__ScrollableContainer,
.class__Filler,
.class__ScrolledPane {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.class__Filler {
  position: relative;
  z-index: -1;
}

.class__ScrollableContainer {
  position: relative;
  overflow: auto;
}

.class__ScrolledPane {
  --scroll-limit: 0;

  position: sticky;
  top: calc(var(--scroll-limit) * -1);
  bottom: calc(var(--scroll-limit) * -1);
  min-height: 100%;
  height: fit-content;
  min-height: 100%;
}