virtualized-list {
  box-sizing: border-box;
  display: block;
  position: relative;
  overflow-y: auto;
  width: 200px;
  height: 300px;
}

virtualized-list .sticky-container {
  position: sticky;
  top: 0px;
  height: 0;
}

/* virtualized-list .space-filler {
  position: relative;
} */

virtualized-list .visible-items {
  position: relative;
/*   transition: transform .01s; */
}

.visible-items > * {
  display: flex;
  align-items: center;
  padding-left: 8px;
  height: 45px;
  border: 1px solid lightslategray;
  color: whitesmoke;
  background-color: #2e2e2e;
}